*{
	margin:10px;
	padding: 10px;
	box-sizing: border-box;
	/* text-align: center; */
}

.father {
    display: flex;
      flex-flow: column nowrap;
      /* width: 50%; */
      /* max-width: 1100px; */
      margin: auto;
      align-items: center;
}

.emonkLogin {
  width: 50%;
  align-items: center;
}

.emonk{
  width: 50%;
  margin: 0% 2% 0% 65%;
}

#btnVolver{
background-color: #FFD700;
border-style: none;
  width: 50%;
}